<section class="home m-0 d-flex justify-content-center container-fluid">

    <div class="my-5">
        <div class="d-flex align-items-center flex-column">
            <div class="d-flex justify-content-center img_casal">
                <img class="w-100" src="../../../assets/img/img_casal.png" alt="Noivos">
            </div>
            <div class="text-center mt-3">
                <h1 class="text-secondary-emphasis fs-1 fw-bolder">Tatiane & Douglas</h1>
            </div>
        </div>
    
        <div class="text-center">
            <h1 class="text-secondary-emphasis fs-1 fw-bolder">Está chegando o dia!</h1>
            <p class="text-secondary-emphasis fw-bolder">Ficaríamos com muito prazer em receber sua confirmação de presença.</p>
    
            <button class="btn btn-light btn-lg w-50 mt-4 fw-semibold border border-2">Seguinte</button>
        </div>
    </div>

</section>

<section class="section_name container-fluid">
    <div class="d-flex justify-content-center img_casal">
        <img class="w-100" src="../../../assets/img/img_casal.png" alt="Noivos">
    </div>

    <form>
        <h1 class="text-secondary-emphasis fs-1 fw-bolder mb-3">Digite seu nome por favor</h1>
        <input class="mb-4" type="text" name="name" id="name" placeholder="Ex: Tatiane">
        <button class="btn btn-light btn-lg w-50 mt-4 fw-semibold border border-2">Seguinte</button>
    </form>
</section>